.review-container {
    display: flex;
    align-items: left;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
}

.album-title-link {
    text-decoration: none;
    color: inherit;
    padding: 1px;
    margin-bottom: 1px;
}

.album-title {
    font-size: 32px;
    color: #f1356d;
    margin: 2px;
    margin-bottom: 6px;
}

.container-container {
    display: flex;
    align-items: center;
}

.album-info-container {
    display: flex;
    align-items: center;
}

.album-cover-container {
    margin-right: 20px;
}

.album-cover {
    width: 1in;
    height: 1in;
    object-fit: cover;
    border-radius: 5px;
}

.review-content {
    flex: 1;
    min-width: 6in;
    max-width: 6in;
}

.review-content h3 {
    margin-top: 0;
}

.review-rating {
    margin: 5px 0;
}

.review-text {
    margin: 5px 0;
}
