
.form .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
    
.form .sign_in_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px; 
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 10px; 
}
    
.form .form_row {
 
    flex-direction: column;
    
    width: 100%;
    margin-bottom: 20px;
}


.form .button_row {
    display: flex;
    justify-content: center;
    gap: 10px;
}


.form label {
    
    margin-right: 30px; 
}
    
.form input[type="email"],
.form input[type="password"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    margin-left: 40px;
}
    
.form .signup_button {
    margin-top: 20px; 
}
    
.form input[type="submit"] {
    width: 80px;
    height: 40px;
    cursor: pointer; 
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff; 
    color: white;
}
    
.form input[type="submit"]:hover {
    background-color: #0056b3; 
}
    

.form button {
    width: 80px;
    height: 40px;
    cursor: pointer; 
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #ffc400; 
    color: white;
}

.form button:hover {
    background-color: #ba8117;
}

.form .error {
    color: red;
    margin-bottom: 10px;
}

.form .logo {
    display: block; /* or inline-block */
    margin: 0 auto; /* center the logo if container is flex or block */
    max-width: 500px; /* or whatever size you want */
    height: auto; /* to maintain aspect ratio */
    margin-bottom: -100px;
}