
.form .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.album-container {
    display: flex;
    align-items: top;
}

.album-info {
    margin-left: 10px; /* Adjust this value as needed */
}
